[submodule "vendor/better_teleop"]
	path = vendor/better_teleop
	url = https://github.com/ethz-asl/better_teleop.git
[submodule "vendor/bosch_imu_driver"]
	path = vendor/bosch_imu_driver
	url = https://github.com/mdrwiega/bosch_imu_driver.git
