<?xml version="1.0"?>

<launch>
  <arg name="model" default="$(find smt_model_description)/urdf/smt_model.xacro"/>
  <arg name="gui" default="true"/>
  <arg name="world" default="$(find smt_model_description)/worlds/small_house.world"/>

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model smt_model"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>
