<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="simulation"/>
  <arg name="rvizconfig" default="$(find smt_launch_common)/rviz/default.rviz"/>
  <node name="rviz" pkg="rviz" args="-d $(arg rvizconfig)" type="rviz" required="true"/>

  <include file="$(find smt_model_description)/launch/model.launch">
    <arg name="simulation" value="$(arg simulation)"/>
  </include>
  <include file="$(find smt_slam)/launch/default.launch">
    <!-- Gazebo includes the gravitation in its measurement, the BNO055 sensor (in the way we use it) doesn't. -->
    <arg name="imu0_remove_gravitational_acceleration" value="$(arg simulation)"/>
  </include>

  <include file="$(find smt_qr_finder)/launch/default.launch"/>
</launch>
