<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!--
    note: this is currently not doing much yet, more will be added to actually launch
          a proper simulation in future steps once nodes are being implemented and
          content is being added, at which point this comment can then also be removed.
  -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch" />
</launch>
