<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="rvizconfig" default="$(find smt_model_description)/launch/urdf.rviz"/>
  <node name="rviz" pkg="rviz" args="-d $(arg rvizconfig)" type="rviz" required="true"/>

  <node name="better_teleop" pkg="better_teleop" type="better_teleop.py" output="screen"/>

  <include file="$(find smt_model_description)/launch/gazebo.launch"/>

  <include file="$(find smt_slam)/launch/default.launch"/>
</launch>
