<?xml version="1.0" encoding="utf-8"?>
<launch>
  <include file="$(find smt_launch_common)/launch/default.launch">
    <arg name="simulation" value="true"/>
  </include>
  <include file="$(find smt_model_description)/launch/gazebo.launch"/>
  <include file="$(find smt_launch_remote_control)/launch/default.launch"/>
</launch>
